---
layout: default
---
<div class="menu">
  {% for menu in site.data.main-menu %}

    <div>{{menu.name}}:

    {% for menuitem in site.pages %}

      {% if menuitem.type == menu.type %}

          <a href="{{site.baseurl}}{{menuitem.permalink}} "
             class="menu-item{% if page.url == menuitem.permalink %}-current{% endif %}" >
             [{{ menuitem.title }}]
          </a>

      {% endif %}
    {% endfor %}

    </div>
  {% endfor %}
</div>

<div class="wrapper">
<br>
{{"-------"|markdownify}}
<br>
{{content}}
</div>
